.Text-shadow{
    /* text-shadow: horizontal vertical blur effect color; */
    text-shadow: 3px 3px 3px red;
    font-size: 40px;
}

.Box-shadow{
    padding: 10px;
    margin: 20px;
    width: 300px;
    height: 400px;
    border: 3px solid black;
    box-shadow: 5px 5px 5px blue;
}
.Box-multi-shadow{
    padding: 10px;
    margin: 20px;
    width: 300px;
    height: 400px;
    border: 3px solid black;
    box-shadow: 5px 5px 5px blue,15px 15px 15px black;
}
.Box-neg-shadow{
    padding: 10px;
    margin: 20px;
    width: 300px;
    height: 400px;
    border: 3px solid black;
    box-shadow: -5px -5px 5px blue;
}
.Box-multi-neg-shadow{
    padding: 10px;
    margin: 20px;
    width: 300px;
    height: 400px;
    border: 3px solid black;
    box-shadow: -5px -5px 5px blue,-15px -15px 15px black;
}

.Box-both-shadow{
    padding: 10px;
    margin: 20px;
    width: 300px;
    height: 400px;
    border: 3px solid black;
    box-shadow: 15px 15px 15px blue,-15px -15px 15px black;
    
}
.Box-shadow-border{
    padding: 10px;
    margin: 20px;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 8px blue,0px 0px 15px 12px magenta;
}



#Box1{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
#Box2{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}